#Details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 250, 210, 0.8);
}

.numbers-logo {
  font-size: 500%;
  color: #f63854;
  padding: 5px;
}
.steps-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.steps-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.steps-para {
  line-height: 125%;
  text-align: start;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  padding: 25px;
}

@media only screen and (max-width: 939px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 426px) {
  .numbers-logo {
    font-size: 300%;
    padding: 1px;
  }
}
